body {
   background-color: powderblue; 
}

h1 {
 font-size: 100px;
 color: lightcoral;
 background-color: lightgrey;
 text-align: center;
}

.tardis {
    font-size: 40px;
    color: lightyellow;
    background-color: lightseagreen;
    text-align: center;
}

.doctores {
    font-size: 30px;
    color: lightsteelblue;
    background-color: darkolivegreen;
    border-radius: 5px;
}